<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/icono.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="css/pedido.css">
  <link rel="stylesheet" href="css/llamar_mesero.css">
  <link rel="stylesheet" href="css/acciones-pedido.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <title>Casa Parrilla</title>
</head>

<body>
  <div class="llamar-mesero" id="ventanaLlamarMesero">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill"
      viewBox="0 0 16 16">
      <path
        d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
    </svg>
    <br>
    <div class="mensaje">
      El mesero llegará en un momento
    </div>
  </div>

  <div class="ordenar-pedido" id="ordenarPedido">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    <br>
    <div class="mensaje">
      El pedido ha sido enviado a Cocina
    </div>
  </div>

  <div class="pagar-pedido" id="pagarPedido">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
      <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
    </svg>
    <br>
    <div class="mensaje">
      ¿Cuál sería su método de pago?
    </div>
  </div>

  <div class="cancelar-pedido" id="cancelarPedido">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x-fill" viewBox="0 0 16 16">
      <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7.354 5.646 8.5 6.793l1.146-1.147a.5.5 0 0 1 .708.708L9.207 7.5l1.147 1.146a.5.5 0 0 1-.708.708L8.5 8.207 7.354 9.354a.5.5 0 1 1-.708-.708L7.793 7.5 6.646 6.354a.5.5 0 1 1 .708-.708z"/>
    </svg>
    <br>
    <div class="mensaje">
      ¿Seguro que deseas cancelar tu pedido?
    </div>
  </div>

  <div class="contenido">
    <div class="header-summary">
      <a href="/principal_menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
      </a>
      <div class="imagen-summary"></div>
    </div>
    <div class="titulos">
      <div class="nombre-platillo-titulo">
        Concepto
      </div>
      <div class="summary-platillo-titulo">
        <div class="cantidad-titulo">
          Cantidad
        </div>
        <div class="costo-titulo">
          Precio
        </div>
      </div>
    </div>
    <form class="platillos" id="listaPlatillos">
      <div class="platillo">
        <div class="nombre-platillo">
          Tacos - Picaña Angus
        </div>
        <div class="summary-pedido">
          <div class="cantidad">
            1
          </div>
          <div class="costo">
            $ 80
          </div>
        </div>
      </div>
      <div class="platillo">
        <div class="nombre-platillo">
          Bebida - Limonada
        </div>
        <div class="summary-pedido">
          <div class="cantidad">
            1
          </div>
          <div class="costo">
            $ 20
          </div>
        </div>
      </div>
      <div class="platillo">
        <div class="nombre-platillo">
          Hamburguesa - Big Ben
        </div>
        <div class="summary-pedido">
          <div class="cantidad">
            1
          </div>
          <div class="costo">
            $ 110
          </div>
        </div>
      </div>
      <div class="platillo">
        <div class="nombre-platillo">
          Bebida - Clericó
        </div>
        <div class="summary-pedido">
          <div class="cantidad">
            1
          </div>
          <div class="costo">
            $ 25
          </div>
        </div>
      </div>
      <br>
      <br>
    </form>
    <div class="footer">
      <div class="summary-total">
        <div class="summary-total-titulo">
          Total
        </div>
        <div class="total-pagar">
          $ 240
        </div>
      </div>
      <div class="acciones">
        <div class=boton-seguir-ordenando id="divMenuPrincipal">
          <button type="submit" class="botones-acciones btn-info" id="botonMenuPrincipal">
            <i class="bi bi-card-text"> Seguir Ordenando</i>
          </button>
        </div>
        <div class="boton-ordernar" id="divOrdenar">
          <br>
          <button type="submit" class="botones-acciones btn btn-warning" id="botonOrdenar">
            <i class="bi bi-cart-check"> Ordenar</i>
          </button>
        </div>
        <div class="boton-editar-pedido" id="divEditar">
          <br>
          <button type="submit" class="botones-acciones btn btn-primary" id="botonEditar">
            <i class="bi bi-pencil"> Editar Pedido</i>
          </button>
        </div>
        <div class="boton-pagar" id="divPagar">
          <br>
          <button type="submit" class="botones-acciones btn btn-success" id="botonPagar">
            <i class="bi bi-cash"> Pagar</i>
          </button>
        </div>
        <div class="boton-cancelar-pedido" id="divCancelarPedido">
          <br>
          <button type="submit" class="botones-acciones btn btn-danger" id="botonCancelarPedido">
            <i class="bi bi-cart-x"> Cancelar Pedido</i>
          </button>
        </div>
      </div>
    </div>
    <div class="boton-mesero" id="botonMesero">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person"
        viewBox="0 0 16 16">
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
      </svg>
    </div>
  </div>
  </div>
</body>

<script src="js/ventana_emergente_mesero.js" language="javascript" type="text/javascript"></script>
<script src="js/pedido.js" language="javascript" type="text/javascript"></script>


</html>