html {
  margin: 0%;
  padding: 0%;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
}


.header {
  background-color: #FE871D;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.section {
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 1.4em;
}

.section a, .header a, .options{
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px black;
  font-size: 1.4em;
}

.section a{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 150px;
}

.options {
  text-align: center;
}

.entradas {
  background-image: url(../img/entradas.jpg);
}

.tacos {
  background-image: url(../img/tacos.jpg);
}

.empanadas {
  background-image: url(../img/empanadas.jpg);
}

.hamburguesas {
  background-image: url(../img/hamburguesa.jpg);
}

.pepitos {
  background-image: url(../img/pepitos.jpg);
}

.cortes {
  background-image: url(../img/cortes.jpg);
}

.parrilladas {
  background-image: url(../img/parrilladas.jpg);
}

.mariscos {
  background-image: url(../img/mariscos.jpg);
}

.bebidas {
  background-image: url(../img/bebidas.jpg);
}

.postres {
  background-image: url(../img/postres.jpg);
}

body div.section{
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}

.mesero {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:77%;
  background-color: #F1C03D;
	color: white;
	border-radius:50px;
	text-align:center;
  font-size: 2em;
  font-weight: bold;
	box-shadow: 2px 2px 3px black;
}

.pedido {
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:10%;
  background-color: #7FCC53;
	color: white;
	border-radius:50px;
	text-align:center;
  font-size: 2em;
  font-weight: bold;
	box-shadow: 2px 2px 3px black;
}

.pedido svg, .mesero svg {
  color: white;
}
